html {
    height: 100%;
}
body {
    background: #232323 url(../images/background/maskedphoropter1280.jpg) no-repeat scroll center top;
    height: 100%;
}
.content {
    background: #FFFFFF;
    height: 100%;
}
.menubar {
    background: #333333;
    border-top: 1px #000000 solid;
    border-bottom: 1px #000000 solid;
}
.menuitem {
    text-align: center;
    border-right: 1px #ffffff solid;
}
.menuitem a:link, .menuitem a:visited {
    color: #ffffff;
    text-decoration: none;
}
.menuitem a:hover {
    color: #cc0000;
}
.map {
    width: 425px; 
    padding-right: 10px;
    margin-bottom: 10px;
}
.contentbody img {
    float: left; 
    margin-right: 20px;
    margin-bottom: 20px;
}
.contentbody ul {
    margin-left: 10px;
}
